# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# uv-Venv
.venv

# Checkpoints / artifacts
ASW/checkpoints/

# (Optional) if ASW/utils/__pycache__ is covered already, but harmless
ASW/utils/__pycache__/

# OS
.DS_Store
